html,
body {
    padding: 0;
    margin: 0;
}

.container {
    height: 640px;
    width: 420px;
    position: relative;
    text-align: center;
}

.welcome {
    background: url('./imgs/bg1.png');
    background-size: cover;
    height: 100%;
    padding-left: 30px;
    text-align: center;
}

.progress-bar {
    overflow: hidden;
    z-index: 2;
    box-sizing: border-box;
    background: white;
    width: 60%;
    margin: auto;
    border-radius: 15px;
    border: 2px solid #353535;
    box-shadow: 0px 2px 2px #353535 inset;
}

.progress-bar-track {
    width: 0;
    height: 30px;
    background: #da5961;
    box-shadow: 0px 2px 6px 1px #353535 inset;
}

.progress-text {
    margin: 0;
    padding-top: 80%;
    font-size: 30px;
    font-weight: bold;
    color: #353535;
}

.btn-play {
    margin: 85% 0 0 10px;
}

#canvas {
    position:relative;
    display:none;
    top:0;
    left:0;
    height:640px;
    width:420px;
}

